body {
    background-color: #f1f1f1;
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
}

.wrapper {
    max-width: 1060px;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}

.comments {
    max-width: 780px;
    padding: 30px 10px;
    margin: auto;
}

form {
    margin-top: 20px;
}

.comments__number {
    text-transform: capitalize;
    font-weight: bold;
}

.comments__number::after {
    display: block;
    width: 100%;
    content: " ";
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 2px solid #f1f1f1;
}

.comments__create {
    text-align: right;
}

.comments__create > textarea {
    display: block;
    width: 100%;
    height: 125px;
    padding: 15px;
    border: 1px solid #f1f1f1;
    font-size: 15px;
    line-height: 22px;
    box-sizing: border-box;
    resize: none;
    outline: none;
}

.comments__create > button {
    width: 120px;
    height: 34px;
    margin-top: 10px;
    border-radius: 3px;
    color: white;
    background-color: #4da0da;
    font-size: 14px;
}

.comments__new {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 20px 0;
    border-radius: 2px;
    text-align: center;
    background-color: #EDEEF0;
    color: #285473;
    font-size: 14px;
    cursor: pointer;
}

.comments__new:hover {
    background-color: #E1E5EB;
}

.comment__item {
    margin-bottom: 30px;
}

.comment__item:last-child {
    margin-bottom: 0;
}

.comment__item__header {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    cursor: pointer;
}

.comment__item__header > p {
    margin: 0 0 0 20px;
    font-weight: bold;
}

.comment__item__header > img {
    height: 32px;
    width: 32px;
}